body {
    background-color: #F0EEED; /* Light blue background */
font-family: Arial, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#photo {
    margin-top: 100px;
    width: 300px; /* Adjust the size as needed */
    border-radius: 50%; /* Make the image circular */
    border-color: #332C39;
    border: 5px;
    border-style: solid;
    margin-bottom: 20px;
    border-width: 6px;
}

#description {
    color:#609EA2;
    text-align: center;
    font-size: 25px;
}

#name {
    color: #C92C6D; /* Pink text color for name */
font-size: 36px;
}
#head {
    font-size: 60px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #332C39;
}

#sister-photo,
.eyeball-left,
.eyeball-right {
    position: absolute;
}

.eyeball-left,
.eyeball-right {
    width: 50px; /* Adjust the size as needed */
height: 50px; /* Adjust the size as needed */
top: 38%; /* Adjust as needed to position the eyeballs */
left: 48%; /* For left eyeball */
right: 50%; /* For right eyeball */
transform: translate(-50%, -50%); /* Centers the eyeballs horizontally and vertically */
}


.eyeball-right {
    left: 53%; /* Overrides the left property of the eyeball-left class */
    top:43%;
}
